html, body, div {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.text_gray {
    color: #9e9e9e;
}
a {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}